# Data Wrangling World Happiness Record (2020 - 2021)

The World Happiness Report is a yearly report that ranks countries based on how happy and satisfied their people are.   
It looks at things like how people feel about their lives, their emotions, and factors like having friends and being able to make choices.   
The report helps us understand what makes people in different countries happy and can be used to make policies to improve people's well-being.

This **Data Wrangling** involves the following tasks  
- Dropping columns
- Renaming columns
- Finding duplicates 
- Finding missing values
- Deriving new columns

## INDEX
1. [Wrangle 2020 dataset](#Wrangle-2020-dataset)
1. [Wrangle 2021 dataset](#Wrangle-2021-dataset)
1. [Wrangle 2022 dataset](#Wrangle-2022-dataset)
1. [Merge Data](#Merge-Data)
1. [Data Profiling](#Data-Profiling)

In [180]:
#import necessary libraries
import pandas as pd
import numpy as np
import os

In [181]:
#set display parameter
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [182]:
#assigning path and import 2015-2022 csv
path = '/Users/satoruteshima/Documents/CareerFoundry/06 Date Immersion 6/Scripts'
df_2020 = pd.read_csv(os.path.join(path, 'Raw', '2020.csv'), index_col = False)
df_2021 = pd.read_csv(os.path.join(path, 'Raw', '2021.csv'), index_col = False)
df_2022 = pd.read_csv(os.path.join(path, 'Raw', '2022.csv'), index_col = False)

## Wrangle 2020 dataset

In [183]:
#Find missing values
missing_values = df_2020.isna() 
missing_values.sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [184]:
df_2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [185]:
#Find duplicates
df_2020[df_2020.duplicated()]

Empty DataFrame
Columns: [Country name, Regional indicator, Ladder score, Standard error of ladder score, upperwhisker, lowerwhisker, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Ladder score in Dystopia, Explained by: Log GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption, Dystopia + residual]
Index: []

Drop the following columns  
'Standard error of ladder score'    
,'upperwhisker  
,'lowerwhisker'   
,'Ladder score in Dystopia'
,'Logged GDP per capita'  
,'Social support'  
,'Healthy life expectancy'  
,'Freedom to make life choices'  
,'Generosity'    
,'Perceptions of corruption'

In [187]:
dropping_columns =['Standard error of ladder score'    
,'upperwhisker'  
,'lowerwhisker'   
,'Ladder score in Dystopia'
,'Logged GDP per capita'  
,'Social support'  
,'Healthy life expectancy'  
,'Freedom to make life choices'  
,'Generosity'    
,'Perceptions of corruption']


df_2020 = df_2020.drop(columns = dropping_columns)

In [197]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        153 non-null    object
 1   Region                         153 non-null    object
 2   Happiness Score                153 non-null    float64
 3   Economy (GDP per Capita)       153 non-null    float64
 4   Social Support                 153 non-null    float64
 5   Health (Life Expectancy)       153 non-null    float64
 6   Freedom                        153 non-null    float64
 7   Generosity                     153 non-null    float64
 8   Trust (Government Corruption)  153 non-null    float64
 9   Dystopia Residual              153 non-null    float64
 10  Happiness Rank                 153 non-null    int64
 11  Year                           153 non-null    int64
dtypes: float64(8), int64(2), object(2)
memory usage: 14.5+ KB

In [191]:
#Renaming columns 

df_2020.rename(columns = {'Country name' : 'Country'}, inplace = True)
df_2020.rename(columns = {'Regional indicator' : 'Region'}, inplace = True)
df_2020.rename(columns = {'Ladder score' : 'Happiness Score'}, inplace = True)
df_2020.rename(columns = {'Explained by: Healthy life expectancy' : 'Health (Life Expectancy)'}, inplace = True)
df_2020.rename(columns = {'Explained by: Perceptions of corruption' : 'Trust (Government Corruption)'}, inplace = True)
df_2020.rename(columns = {'Explained by: Log GDP per capita' : 'Economy (GDP per Capita)'}, inplace = True)
df_2020.rename(columns = {'Dystopia + residual' : 'Dystopia Residual'}, inplace = True)
df_2020.rename(columns = {'Explained by: Freedom to make life choices' : 'Freedom'}, inplace = True)
df_2020.rename(columns = {'Explained by: Social support' : 'Social Support'}, inplace = True)
df_2020.rename(columns = {'Explained by: Generosity' : 'Generosity'}, inplace = True)

In [193]:
#derive a rank column based on 'Happiness Score'

df_2020['Happiness Rank'] = df_2020['Happiness Score'].rank(ascending=False, method='min')

In [194]:
#turn 'Happiness Rank' from float to integer type.

df_2020['Happiness Rank'] = df_2020['Happiness Rank'].astype(int)

In [196]:
#derive year column and fill with 2020

df_2020['Year'] = 2020

In [211]:
#EDA 
df_2020.describe()

,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Happiness Rank,Year
count,153.00000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.0
mean,5.47324,0.868771,1.155607,0.692869,0.463583,0.189375,0.130718,1.972317,77.000000,2020.0
std,1.11227,0.372416,0.286866,0.254094,0.141172,0.100401,0.113097,0.563638,44.311398,0.0
min,2.56690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.257241,1.000000,2020.0
25%,4.72410,0.575862,0.986718,0.495443,0.381457,0.115006,0.055805,1.629928,39.000000,2020.0
50%,5.51500,0.918549,1.203987,0.759818,0.483293,0.176745,0.098435,2.046272,77.000000,2020.0
75%,6.22850,1.169229,1.387139,0.867249,0.576665,0.255510,0.163064,2.350267,115.000000,2020.0
max,7.80870,1.536676,1.547567,1.137814,0.693270,0.569814,0.533162,3.440810,153.000000,2020.0

## Wrangle 2021 dataset

In [198]:
#Find missing values
missing_values = df_2021.isna() 
missing_values.sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [199]:
#Find duplicates
df_2021[df_2021.duplicated()]

Empty DataFrame
Columns: [Country name, Regional indicator, Ladder score, Standard error of ladder score, upperwhisker, lowerwhisker, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Ladder score in Dystopia, Explained by: Log GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption, Dystopia + residual]
Index: []

Drop the following columns  
'Standard error of ladder score'    
,'upperwhisker  
,'lowerwhisker'   
,'Ladder score in Dystopia'
,'Logged GDP per capita'  
,'Social support'  
,'Healthy life expectancy'  
,'Freedom to make life choices'  
,'Generosity'    
,'Perceptions of corruption'

In [200]:
dropping_columns =['Standard error of ladder score'    
,'upperwhisker'  
,'lowerwhisker'   
,'Ladder score in Dystopia'
,'Logged GDP per capita'  
,'Social support'  
,'Healthy life expectancy'  
,'Freedom to make life choices'  
,'Generosity'    
,'Perceptions of corruption']


df_2021 = df_2021.drop(columns = dropping_columns)

In [201]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Explained by: Log GDP per capita            149 non-null    float64
 4   Explained by: Social support                149 non-null    float64
 5   Explained by: Healthy life expectancy       149 non-null    float64
 6   Explained by: Freedom to make life choices  149 non-null    float64
 7   Explained by: Generosity                    149 non-null    float64
 8   Explained by: Perceptions of corruption     149 non-null    float64
 9   Dystopia + residual                         149 non-null    float64
dtypes: float64(8), object(2)
memory usage: 11.8+ KB

In [202]:
#Renaming columns 

df_2021.rename(columns = {'Country name' : 'Country'}, inplace = True)
df_2021.rename(columns = {'Regional indicator' : 'Region'}, inplace = True)
df_2021.rename(columns = {'Ladder score' : 'Happiness Score'}, inplace = True)
df_2021.rename(columns = {'Explained by: Healthy life expectancy' : 'Health (Life Expectancy)'}, inplace = True)
df_2021.rename(columns = {'Explained by: Perceptions of corruption' : 'Trust (Government Corruption)'}, inplace = True)
df_2021.rename(columns = {'Explained by: Log GDP per capita' : 'Economy (GDP per Capita)'}, inplace = True)
df_2021.rename(columns = {'Dystopia + residual' : 'Dystopia Residual'}, inplace = True)
df_2021.rename(columns = {'Explained by: Freedom to make life choices' : 'Freedom'}, inplace = True)
df_2021.rename(columns = {'Explained by: Social support' : 'Social Support'}, inplace = True)
df_2021.rename(columns = {'Explained by: Generosity' : 'Generosity'}, inplace = True)

In [203]:
#derive a rank column based on 'Happiness Score'

df_2021['Happiness Rank'] = df_2021['Happiness Score'].rank(ascending=False, method='min')

#turn 'Happiness Rank' from float to integer type.

df_2021['Happiness Rank'] = df_2021['Happiness Rank'].astype(int)

In [204]:
#derive year column and fill with 2021

df_2021['Year'] = 2021

In [212]:
#EDA 
df_2021.describe()

,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Happiness Rank,Year
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.0
mean,5.532839,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329,74.986577,2021.0
std,1.073924,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645,43.159194,0.0
min,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000,1.000000,2021.0
25%,4.852000,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000,38.000000,2021.0
50%,5.534000,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000,75.000000,2021.0
75%,6.255000,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000,112.000000,2021.0
max,7.842000,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000,149.000000,2021.0

## Wrangle 2022 dataset

In [213]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   RANK                                        147 non-null    int64
 1   Country                                     147 non-null    object
 2   Happiness score                             146 non-null    object
 3   Dystopia (1.83) + residual                  146 non-null    object
 4   Explained by: GDP per capita                146 non-null    object
 5   Explained by: Social support                146 non-null    object
 6   Explained by: Healthy life expectancy       146 non-null    object
 7   Explained by: Freedom to make life choices  146 non-null    object
 8   Explained by: Generosity                    146 non-null    object
 9   Explained by: Perceptions of corruption     146 non-null    object
dtypes: int64(1), object(9)
memory usage: 11.6+ KB

In [214]:
#Find missing values
missing_values = df_2022.isna() 
missing_values.sum()

RANK                                          0
Country                                       0
Happiness score                               1
Dystopia (1.83) + residual                    1
Explained by: GDP per capita                  1
Explained by: Social support                  1
Explained by: Healthy life expectancy         1
Explained by: Freedom to make life choices    1
Explained by: Generosity                      1
Explained by: Perceptions of corruption       1
dtype: int64

In [215]:
#Find duplicates
df_2022[df_2022.duplicated()]

Empty DataFrame
Columns: [RANK, Country, Happiness score, Dystopia (1.83) + residual, Explained by: GDP per capita, Explained by: Social support, Explained by: Healthy life expectancy, Explained by: Freedom to make life choices, Explained by: Generosity, Explained by: Perceptions of corruption]
Index: []

In [221]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 147 non-null    int64
 1   Country                        147 non-null    object
 2   Happiness Score                146 non-null    object
 3   Dystopia Residual              146 non-null    object
 4   Economy (GDP per Capita)       146 non-null    object
 5   Social Support                 146 non-null    object
 6   Health (Life Expectancy)       146 non-null    object
 7   Freedom                        146 non-null    object
 8   Generosity                     146 non-null    object
 9   Trust (Government Corruption)  146 non-null    object
dtypes: int64(1), object(9)
memory usage: 11.6+ KB

In [220]:
#Rename columns 

df_2022.rename(columns = {'Happiness score' : 'Happiness Score'}, inplace = True)
df_2022.rename(columns = {'RANK' : 'Happiness Rank'}, inplace = True)
df_2022.rename(columns = {'Explained by: Healthy life expectancy' : 'Health (Life Expectancy)'}, inplace = True)
df_2022.rename(columns = {'Explained by: Perceptions of corruption' : 'Trust (Government Corruption)'}, inplace = True)
df_2022.rename(columns = {'Explained by: GDP per capita' : 'Economy (GDP per Capita)'}, inplace = True)
df_2022.rename(columns = {'Dystopia (1.83) + residual' : 'Dystopia Residual'}, inplace = True)
df_2022.rename(columns = {'Explained by: Freedom to make life choices' : 'Freedom'}, inplace = True)
df_2022.rename(columns = {'Explained by: Social support' : 'Social Support'}, inplace = True)
df_2022.rename(columns = {'Explained by: Generosity' : 'Generosity'}, inplace = True)

In [222]:
#derive region from 2021 dataset 
df_2021['Region'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Region, dtype: int64

In [223]:
#put the countries in list

sub_saharan_africa_list = df_2021.loc[df_2021['Region']== 'Sub-Saharan Africa']['Country'].unique().tolist()
western_europe_list = df_2021.loc[df_2021['Region']== 'Western Europe']['Country'].unique().tolist()
latin_america_and_caribbean_list = df_2021.loc[df_2021['Region']== 'Latin America and Caribbean']['Country'].unique().tolist()
central_and_eastern_europe_list = df_2021.loc[df_2021['Region']== 'Central and Eastern Europe']['Country'].unique().tolist()
middle_east_and_northern_africa_list = df_2021.loc[df_2021['Region']== 'Middle East and Northern Africa']['Country'].unique().tolist()
southeastern_asia_list = df_2021.loc[df_2021['Region']== 'Southeast Asia']['Country'].unique().tolist()
southern_asia_list = df_2021.loc[df_2021['Region']== 'South Asia']['Country'].unique().tolist()
eastern_asia_list = df_2021.loc[df_2021['Region']== 'East Asia']['Country'].unique().tolist()
north_america_list = df_2021.loc[df_2021['Region']== 'North America and ANZ']['Country'].unique().tolist()
commonwealth_list = df_2021.loc[df_2021['Region']== 'Commonwealth of Independent States']['Country'].unique().tolist()

In [224]:
#derive region from region lists 
df_2022.loc[df_2022['Country'].isin(sub_saharan_africa_list), 'Region'] = 'Sub-Saharan Africa'
df_2022.loc[df_2022['Country'].isin(western_europe_list), 'Region'] = 'Western Europe'
df_2022.loc[df_2022['Country'].isin(latin_america_and_caribbean_list), 'Region'] = 'Latin America and Caribbean'
df_2022.loc[df_2022['Country'].isin(central_and_eastern_europe_list), 'Region'] = 'Central and Eastern Europe'
df_2022.loc[df_2022['Country'].isin(middle_east_and_northern_africa_list), 'Region'] = 'Middle East and Northern Africa'
df_2022.loc[df_2022['Country'].isin(southeastern_asia_list), 'Region'] = 'Southeastern Asia'
df_2022.loc[df_2022['Country'].isin(southern_asia_list), 'Region'] = 'Southern Asia'
df_2022.loc[df_2022['Country'].isin(eastern_asia_list), 'Region'] = 'Eastern Asia'
df_2022.loc[df_2022['Country'].isin(north_america_list), 'Region'] = 'North America'
df_2022.loc[df_2022['Country'].isin(commonwealth_list), 'Region'] = 'Commonwealth of Independent States'

In [225]:
df_2022.head()

,Happiness Rank,Country,Happiness Score,Dystopia Residual,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Region
0,1,Finland,"7,821","2,518","1,892","1,258","0,775","0,736","0,109","0,534",Western Europe
1,2,Denmark,"7,636","2,226","1,953","1,243","0,777","0,719","0,188","0,532",Western Europe
2,3,Iceland,"7,557","2,320","1,936","1,320","0,803","0,718","0,270","0,191",Western Europe
3,4,Switzerland,"7,512","2,153","2,026","1,226","0,822","0,677","0,147","0,461",Western Europe
4,5,Netherlands,"7,415","2,137","1,945","1,206","0,787","0,651","0,271","0,419",Western Europe

In [226]:
#Find missing values
missing_values = df_2022.isna() 
missing_values.sum()

Happiness Rank                    0
Country                           0
Happiness Score                   1
Dystopia Residual                 1
Economy (GDP per Capita)          1
Social Support                    1
Health (Life Expectancy)          1
Freedom                           1
Generosity                        1
Trust (Government Corruption)     1
Region                           37
dtype: int64

In [227]:
df_2022.loc[df_2022['Country'].isin([ 'Luxembourg*','North Cyprus*']), 'Region'] = 'Western Europe'
df_2022.loc[df_2022['Country'].isin(['Czechia','Belarus*']), 'Region'] = 'Central and Eastern Europe'
df_2022.loc[df_2022['Country'].isin( ['Turkmenistan*', 'Azerbaijan*']), 'Region'] = 'Commonwealth of Independent States'
df_2022.loc[df_2022['Country'] ==  'Guatemala*', 'Region'] = 'Latin America and Caribbean'
df_2022.loc[df_2022['Country'].isin([ 
 'Israel',
 'Bahrain',
 'United Arab Emirates',
 'Saudi Arabia',
 'Kuwait*',
 'Libya*',
 'Algeria',
 'Morocco',
 'Iraq',
 'Iran',
 'Turkey',
 'Tunisia',
 'Palestinian Territories*',
 'Egypt',
 'Yemen*',
 'Jordan',
 'Lebanon']), 'Region'] = 'Middle East and Northern Africa'

df_2022.loc[df_2022['Country'].isin([ 
 'Gambia*',
 'Liberia*',
 'Congo',
 'Niger*',
 'Comoros*',
 'Eswatini, Kingdom of*',
 'Madagascar*',
 'Chad*',
 'Mauritania*',
 'Lesotho*',
 'Botswana*',
 'Rwanda*']), 'Region'] = 'Sub-Saharan Africa'

In [228]:
#drop Country = 'xx' raw 

df_2022 = df_2022.drop(df_2022[df_2022['Country'] == 'xx'].index)

In [252]:
df_2022.loc[df_2022['Country'] == 'Swaziland']

,Unnamed: 0,Happiness Rank,Country,Happiness Score,Dystopia Residual,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Region,year,Year
124,124,125,Swaziland,4.396,1.688,1.274,0.786,0.197,0.259,0.038,0.154,Sub-Saharan Africa,2022,2022

In [230]:
#rename  'Eswatini, Kingdom of' to 'Swaziland'
df_2022['Country'] = df_2022['Country'].replace({'Eswatini, Kingdom of*': 'Swaziland'})

In [232]:
# Get rid of asterisk from country

df_2022['Country'] = df_2022['Country'].str.replace('*', '', regex=False)

In [236]:
#derive year column and fill with 2022
df_2022['Year'] = 2022

In [240]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     146 non-null    int64
 1   Happiness Rank                 146 non-null    int64
 2   Country                        146 non-null    object
 3   Happiness Score                146 non-null    object
 4   Dystopia Residual              146 non-null    object
 5   Economy (GDP per Capita)       146 non-null    object
 6   Social Support                 146 non-null    object
 7   Health (Life Expectancy)       146 non-null    object
 8   Freedom                        146 non-null    object
 9   Generosity                     146 non-null    object
 10  Trust (Government Corruption)  146 non-null    object
 11  Region                         146 non-null    object
 12  year                           146 non-null    int64
 13  Year                           146 non-null    int64
dtypes: int64(4), object(10)
memory usage: 16.1+ KB

**Except for 'Happiness Rank' & 'Year', 'Region' and 'Country' every data type is set to 'object'.   
They need to be altered to float64**

In [251]:
df_2022['Happiness Score'] = df_2022['Happiness Score'].str.replace(',', '.', regex=False)
df_2022['Dystopia Residual'] = df_2022['Dystopia Residual'].str.replace(',', '.', regex=False)
df_2022['Economy (GDP per Capita)'] = df_2022['Economy (GDP per Capita)'].str.replace(',', '.', regex=False)
df_2022['Social Support'] = df_2022['Social Support'].str.replace(',', '.', regex=False)
df_2022['Health (Life Expectancy)'] = df_2022['Health (Life Expectancy)'].str.replace(',', '.', regex=False)
df_2022['Freedom'] = df_2022['Freedom'].str.replace(',', '.', regex=False)
df_2022['Generosity'] = df_2022['Generosity'].str.replace(',', '.', regex=False)
df_2022['Trust (Government Corruption)'] = df_2022['Trust (Government Corruption)'].str.replace(',', '.', regex=False)

In [253]:
changeData = {
    'Happiness Score': float,
    'Dystopia Residual': float,
    'Economy (GDP per Capita)': float,
    'Social Support': float,
    'Health (Life Expectancy)': float,
    'Freedom': float,
    'Generosity': float,
    'Trust (Government Corruption)': float,
}

df_2022 = df_2022.astype(changeData)

In [255]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     146 non-null    int64
 1   Happiness Rank                 146 non-null    int64
 2   Country                        146 non-null    object
 3   Happiness Score                146 non-null    float64
 4   Dystopia Residual              146 non-null    float64
 5   Economy (GDP per Capita)       146 non-null    float64
 6   Social Support                 146 non-null    float64
 7   Health (Life Expectancy)       146 non-null    float64
 8   Freedom                        146 non-null    float64
 9   Generosity                     146 non-null    float64
 10  Trust (Government Corruption)  146 non-null    float64
 11  Region                         146 non-null    object
 12  Year                           146 non-null    int64
dtypes: float64(8), int64(3), object(2)
memory usage: 15.0+ KB

In [256]:
#EDA
df_2022.describe()

,Unnamed: 0,Happiness Rank,Happiness Score,Dystopia Residual,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.0
mean,72.500000,73.500000,5.553575,1.831808,1.410445,0.905863,0.586171,0.517226,0.147377,0.154781,2022.0
std,42.290661,42.290661,1.086843,0.534994,0.421663,0.280122,0.176336,0.145859,0.082799,0.127514,0.0
min,0.000000,1.000000,2.404000,0.187000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022.0
25%,36.250000,37.250000,4.888750,1.555250,1.095500,0.732000,0.463250,0.440500,0.089000,0.068250,2022.0
50%,72.500000,73.500000,5.568500,1.894500,1.445500,0.957500,0.621500,0.543500,0.132500,0.119500,2022.0
75%,108.750000,109.750000,6.305000,2.153000,1.784750,1.114250,0.719750,0.626000,0.197750,0.198500,2022.0
max,145.000000,146.000000,7.821000,2.844000,2.209000,1.320000,0.942000,0.740000,0.468000,0.587000,2022.0

## Export Data

In [257]:
#export to csv files 
df_2020.to_csv(os.path.join(path, 'Clean', 'df_2020_clean.csv'))
df_2021.to_csv(os.path.join(path, 'Clean', 'df_2021_clean.csv'))
df_2022.to_csv(os.path.join(path, 'Clean', 'df_2022_clean.csv'))

## Merge Data

In [258]:
#import cleaned data 
df_2015 = pd.read_csv(os.path.join(path, 'Clean', 'df_2015_clean.csv'), index_col = False)
df_2016 = pd.read_csv(os.path.join(path, 'Clean', 'df_2016_clean.csv'), index_col = False)
df_2017 = pd.read_csv(os.path.join(path, 'Clean', 'df_2017_clean.csv'), index_col = False)
df_2018 = pd.read_csv(os.path.join(path, 'Clean', 'df_2018_clean.csv'), index_col = False)
df_2019 = pd.read_csv(os.path.join(path, 'Clean', 'df_2019_clean.csv'), index_col = False)
df_2020 = pd.read_csv(os.path.join(path, 'Clean', 'df_2020_clean.csv'), index_col = False)
df_2021 = pd.read_csv(os.path.join(path, 'Clean', 'df_2021_clean.csv'), index_col = False)
df_2022 = pd.read_csv(os.path.join(path, 'Clean', 'df_2022_clean.csv'), index_col = False)

In [259]:
#merge all datasets
df_merged = pd.concat([
    df_2015
    ,df_2016
    ,df_2017
    ,df_2018
    ,df_2019
    ,df_2020
    ,df_2021
    ,df_2022]
    ,axis = 'rows'
    , join = 'inner')

In [262]:
#check shape
df_merged.shape

(1230, 11)

In [269]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1230 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1230 non-null   int64
 1   Country                        1230 non-null   object
 2   Region                         1230 non-null   object
 3   Happiness Rank                 1230 non-null   int64
 4   Happiness Score                1230 non-null   float64
 5   Economy (GDP per Capita)       1230 non-null   float64
 6   Health (Life Expectancy)       1230 non-null   float64
 7   Freedom                        1230 non-null   float64
 8   Trust (Government Corruption)  1230 non-null   float64
 9   Generosity                     1230 non-null   float64
 10  Year                           1230 non-null   int64
dtypes: float64(6), int64(3), object(2)
memory usage: 115.3+ KB

### Region Name Consistency Check

In [270]:
#Check Region names
df_merged['Region'].value_counts()

Sub-Saharan Africa                    305
Central and Eastern Europe            197
Latin America and Caribbean           172
Western Europe                        168
Middle East and Northern Africa       113
Southeastern Asia                      53
Southern Asia                          41
Eastern Asia                           36
Commonwealth of Independent States     35
Middle East and North Africa           34
Southeast Asia                         18
North America                          14
South Asia                             14
East Asia                              12
Australia and New Zealand              10
North America and ANZ                   8
Name: Region, dtype: int64

**Some regions have different names so the names need to be consistent!**

Southeastern Asia = Southeast Asia  
Southern Asia = South Asia  
Eastern Asia - East Asia  
Middle East and Northern Africa = Middle East and North Africa 
North America = North America and ANZ

In [282]:
#Update region names
df_merged['Region'] = df_merged['Region'].replace({'Southeastern Asia': 'Southeast Asia'})
df_merged['Region'] = df_merged['Region'].replace({'Southern Asia': 'South Asia'})
df_merged['Region'] = df_merged['Region'].replace({'Eastern Asia': 'East Asia'})
df_merged['Region'] = df_merged['Region'].replace({'Middle East and Northern Africa': 'Middle East and North Africa'})
df_merged['Region'] = df_merged['Region'].replace({'North America': 'North America and ANZ'})
df_merged['Region'] = df_merged['Region'].replace({'Australia and New Zealand': 'North America and ANZ'})

**Update countries belonging to Commonwealth of Independent States for the year between 2015 & 2019**

In [299]:
commonwealthcountry = df_merged.loc[df_merged['Region'] == 'Commonwealth of Independent States']
commonwealthcountry_list = commonwealthcountry['Country'].unique().tolist()

In [306]:
# Create a boolean mask to filter rows
mask = (df_merged['Region'] == 'Central and Eastern Europe') & (df_merged['Year'] >= 2015) & (df_merged['Year'] <= 2019) & (df_merged['Country'].isin(commonwealthcountry_list))

# Update the 'Region' column for the filtered rows
df_merged.loc[mask, 'Region'] = 'Commonwealth of Independent States'

In [308]:
df_merged['Region'].value_counts()

Sub-Saharan Africa                    305
Latin America and Caribbean           172
Western Europe                        168
Middle East and North Africa          147
Central and Eastern Europe            137
Commonwealth of Independent States     95
Southeast Asia                         71
South Asia                             55
East Asia                              48
North America and ANZ                  32
Name: Region, dtype: int64

### Country Name Consistency Check 

#### Western Europe

In [313]:
#Northern Cyprus and North Cyprus have inconsistent name 
df_merged.loc[df_merged['Region']== 'Western Europe']['Country'].value_counts()

Switzerland        8
Iceland            8
Greece             8
Portugal           8
Cyprus             8
Italy              8
Malta              8
Spain              8
France             8
Germany            8
United Kingdom     8
Belgium            8
Ireland            8
Luxembourg         8
Austria            8
Sweden             8
Netherlands        8
Finland            8
Norway             8
Denmark            8
North Cyprus       6
Northern Cyprus    2
Name: Country, dtype: int64

In [314]:
#Change Northern Cyprus to North Cyprus
df_merged['Country'] = df_merged['Country'].replace({'Northern Cyprus': 'North Cyprus'})

In [348]:
#Check 
df_merged.loc[df_merged['Region']== 'Western Europe']['Country'].value_counts()

Switzerland       8
United Kingdom    8
Portugal          8
Cyprus            8
North Cyprus      8
Italy             8
Malta             8
Spain             8
France            8
Germany           8
Belgium           8
Iceland           8
Ireland           8
Luxembourg        8
Austria           8
Sweden            8
Netherlands       8
Finland           8
Norway            8
Denmark           8
Greece            8
Name: Country, dtype: int64

#### Sub-Saharan Africa

In [316]:
df_merged.loc[df_merged['Region']== 'Sub-Saharan Africa']['Country'].value_counts()

Mauritius                   8
Madagascar                  8
Niger                       8
Gabon                       8
Senegal                     8
Uganda                      8
Chad                        8
Nigeria                     8
Mali                        8
Guinea                      8
Cameroon                    8
Malawi                      8
Botswana                    8
Ivory Coast                 8
Kenya                       8
Mauritania                  8
Sierra Leone                8
Ethiopia                    8
Burkina Faso                8
Rwanda                      8
Liberia                     8
Zimbabwe                    8
Ghana                       8
South Africa                8
Benin                       8
Togo                        8
Zambia                      8
Tanzania                    8
Burundi                     7
Namibia                     7
Congo (Brazzaville)         7
Lesotho                     7
Mozambique                  7
Comoros                     6
Congo (Kinshasa)            6
Swaziland                   5
South Sudan                 5
Central African Republic    4
Angola                      4
Sudan                       4
Somalia                     4
Gambia                      4
Djibouti                    1
Somaliland Region           1
Somaliland region           1
Congo                       1
Name: Country, dtype: int64

In [356]:
#The name 'Somaliland Region' is not consistent and needs to change 
df_merged['Country'] = df_merged['Country'].replace({'Somaliland region': 'Somalia'})
df_merged['Country'] = df_merged['Country'].replace({'Somaliland Region': 'Somalia'})

# 'Congo' will be assigned to 'Congo {Brazzaville} since it's the majority in the data
df_merged['Country'] = df_merged['Country'].replace({'Congo': 'Congo (Brazzaville)'})

In [358]:
#Check
df_merged.loc[df_merged['Region']== 'Sub-Saharan Africa']['Country'].value_counts()

Mauritius                   8
Togo                        8
Nigeria                     8
Mali                        8
Congo (Brazzaville)         8
Uganda                      8
Senegal                     8
Gabon                       8
Niger                       8
Tanzania                    8
Madagascar                  8
Chad                        8
Guinea                      8
Ivory Coast                 8
Burkina Faso                8
Rwanda                      8
Benin                       8
Cameroon                    8
Malawi                      8
Botswana                    8
Ethiopia                    8
Zambia                      8
South Africa                8
Ghana                       8
Liberia                     8
Zimbabwe                    8
Sierra Leone                8
Mauritania                  8
Kenya                       8
Namibia                     7
Lesotho                     7
Mozambique                  7
Burundi                     7
Congo (Kinshasa)            6
Comoros                     6
Somalia                     6
South Sudan                 5
Central African Republic    5
Swaziland                   5
Angola                      4
Sudan                       4
Gambia                      4
Djibouti                    1
Name: Country, dtype: int64

#### Latin America and Caribbean

In [319]:
df_merged.loc[df_merged['Region']== 'Latin America and Caribbean']['Country'].value_counts()

Costa Rica                  8
El Salvador                 8
Honduras                    8
Dominican Republic          8
Jamaica                     8
Peru                        8
Nicaragua                   8
Paraguay                    8
Bolivia                     8
Mexico                      8
Guatemala                   8
Ecuador                     8
Colombia                    8
Uruguay                     8
Argentina                   8
Chile                       8
Panama                      8
Venezuela                   8
Brazil                      8
Haiti                       7
Trinidad and Tobago         4
Belize                      3
Suriname                    2
Trinidad & Tobago           2
Puerto Rico                 1
Central African Republic    1
Name: Country, dtype: int64

In [326]:
#The name 'Trinidad & Tobago' is not consistent and needs to change 
df_merged['Country'] = df_merged['Country'].replace({'Trinidad & Tobago': 'Trinidad and Tobago'})

In [325]:
#Add 'Central African Republic' to 'Sub-Saharan Africa' Region
df_merged.loc[df_merged['Country']== 'Central African Republic', 'Region'] = 'Sub-Saharan Africa'

In [360]:
#check 
df_merged.loc[df_merged['Region']== 'Latin America and Caribbean']['Country'].value_counts()

Costa Rica             8
El Salvador            8
Honduras               8
Dominican Republic     8
Jamaica                8
Peru                   8
Nicaragua              8
Paraguay               8
Bolivia                8
Ecuador                8
Mexico                 8
Guatemala              8
Colombia               8
Uruguay                8
Argentina              8
Chile                  8
Panama                 8
Venezuela              8
Brazil                 8
Haiti                  7
Trinidad and Tobago    6
Belize                 3
Suriname               2
Puerto Rico            1
Name: Country, dtype: int64

#### Middle East and North Africa

In [327]:
df_merged.loc[df_merged['Region']== 'Middle East and North Africa']['Country'].value_counts()

Israel                     8
United Arab Emirates       8
Yemen                      8
Egypt                      8
Iraq                       8
Iran                       8
Palestinian Territories    8
Tunisia                    8
Lebanon                    8
Morocco                    8
Jordan                     8
Turkey                     8
Algeria                    8
Libya                      8
Bahrain                    8
Kuwait                     8
Saudi Arabia               8
Qatar                      5
Syria                      5
Oman                       1
Name: Country, dtype: int64

#### Central and Eastern Europe

In [329]:
df_merged.loc[df_merged['Region']== 'Central and Eastern Europe']['Country'].value_counts()

Serbia                    8
Hungary                   8
Slovenia                  8
Lithuania                 8
Poland                    8
Croatia                   8
Kosovo                    8
Estonia                   8
Montenegro                8
Romania                   8
Slovakia                  8
Latvia                    8
Bulgaria                  8
Albania                   8
Bosnia and Herzegovina    8
Czech Republic            7
Macedonia                 5
North Macedonia           3
Czechia                   1
Belarus                   1
Name: Country, dtype: int64

In [333]:
#Czech Republic name is not consistent, Macedonia's name is not updated to North Macedonia 

df_merged['Country'] = df_merged['Country'].replace({'Czechia': 'Czech Republic'})
df_merged['Country'] = df_merged['Country'].replace({'Macedonia': 'North Macedonia'})

#Belarus is in commonwealth of independent states now so update 
df_merged.loc[df_merged['Country']== 'Belarus', 'Region'] = 'Commonwealth of Independent States'

In [361]:
#check 
df_merged.loc[df_merged['Region']== 'Central and Eastern Europe']['Country'].value_counts()

Czech Republic            8
Romania                   8
Hungary                   8
Bosnia and Herzegovina    8
Albania                   8
North Macedonia           8
Latvia                    8
Serbia                    8
Montenegro                8
Slovakia                  8
Estonia                   8
Kosovo                    8
Croatia                   8
Poland                    8
Lithuania                 8
Slovenia                  8
Bulgaria                  8
Name: Country, dtype: int64

#### Commonwealth of Independent States

In [336]:
df_merged.loc[df_merged['Region']== 'Commonwealth of Independent States']['Country'].value_counts()

Uzbekistan      8
Moldova         8
Kazakhstan      8
Belarus         8
Russia          8
Turkmenistan    8
Kyrgyzstan      8
Azerbaijan      8
Tajikistan      8
Ukraine         8
Armenia         8
Georgia         8
Name: Country, dtype: int64

#### Southeast Asia

In [337]:
df_merged.loc[df_merged['Region']== 'Southeast Asia']['Country'].value_counts()

Singapore      8
Thailand       8
Malaysia       8
Indonesia      8
Vietnam        8
Philippines    8
Myanmar        8
Cambodia       8
Laos           7
Name: Country, dtype: int64

#### South Asia

In [339]:
df_merged.loc[df_merged['Region']== 'South Asia']['Country'].value_counts()

Pakistan       8
Bangladesh     8
India          8
Nepal          8
Sri Lanka      8
Afghanistan    8
Bhutan         5
Maldives       2
Name: Country, dtype: int64

#### East Asia

In [341]:
df_merged.loc[df_merged['Region']== 'East Asia']['Country'].value_counts()

Japan                        8
South Korea                  8
China                        8
Mongolia                     8
Taiwan                       4
Hong Kong                    4
Taiwan Province of China     4
Hong Kong S.A.R. of China    3
Hong Kong S.A.R., China      1
Name: Country, dtype: int64

In [345]:
#Hong Kong name is not consistent 
df_merged['Country'] = df_merged['Country'].replace({'Hong Kong': 'Hong Kong S.A.R. of China'})
df_merged['Country'] = df_merged['Country'].replace({'Hong Kong S.A.R., China': 'Hong Kong S.A.R. of China'})

#Taiwan name is not consistent 
df_merged['Country'] = df_merged['Country'].replace({'Taiwan Province of China': 'Taiwan'})

In [362]:
#check 
df_merged.loc[df_merged['Region']== 'East Asia']['Country'].value_counts()

Taiwan                       8
Japan                        8
South Korea                  8
Hong Kong S.A.R. of China    8
China                        8
Mongolia                     8
Name: Country, dtype: int64

#### North America and ANZ

In [346]:
df_merged.loc[df_merged['Region']== 'North America and ANZ']['Country'].value_counts()

Canada           8
New Zealand      8
Australia        8
United States    8
Name: Country, dtype: int64

In [382]:
#export merged data
df_merged.to_csv(os.path.join(path, 'Clean', 'whr_merged.csv'))

## Data Profiling

In [381]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1230 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1230 non-null   int64
 1   Country                        1230 non-null   object
 2   Region                         1230 non-null   object
 3   Happiness Rank                 1230 non-null   int64
 4   Happiness Score                1230 non-null   float64
 5   Economy (GDP per Capita)       1230 non-null   float64
 6   Health (Life Expectancy)       1230 non-null   float64
 7   Freedom                        1230 non-null   float64
 8   Trust (Government Corruption)  1230 non-null   float64
 9   Generosity                     1230 non-null   float64
 10  Year                           1230 non-null   int64
dtypes: float64(6), int64(3), object(2)
memory usage: 147.6+ KB

In [389]:
df_merged.describe()

,Unnamed: 0,Happiness Rank,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
count,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000
mean,76.425203,77.420325,5.430092,0.976255,0.608132,0.440833,0.130913,0.201583,2018.447154
std,44.486461,44.486654,1.115361,0.435247,0.241249,0.154415,0.110910,0.115522,2.282716
min,0.000000,1.000000,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,38.000000,39.000000,4.584500,0.668250,0.439250,0.344250,0.056000,0.118000,2016.000000
50%,76.000000,77.000000,5.410500,1.013580,0.639427,0.458135,0.096000,0.186984,2018.000000
75%,115.000000,116.000000,6.226225,1.295961,0.790795,0.559000,0.164000,0.258494,2020.000000
max,157.000000,158.000000,7.842000,2.209000,1.141000,0.740000,0.587000,0.838075,2022.000000

## [Go to TOP](#INDEX)